<th:block th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <title>Kasin <th:block th:text="${pages}"/> | Organize Your Kas Money</title>
        <link rel="shortcut icon" href="/img/favicon.png">

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/linearicons.css}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}"/>
        <link rel="stylesheet" th:href="@{/css/nice-select.css}"/>
        <link rel="stylesheet" th:href="@{/css/hexagons.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/animate.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/owl.carousel.css}"/>
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </head>
</th:block>