<th:block th:fragment="js">
    <script th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/b5be751dc1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/easing.min.js}"></script>
    <script th:src="@{/js/hoverIntent.js}"></script>
    <script th:src="@{/js/superfish.min.js}"></script>
    <script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/hexagons.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/js/waypoints.min.js}"></script>
    <script th:src="@{/js/mail-script.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</th:block>