<th:block th:fragment="navbar">
    <header id="header">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/"><img src="/img/logo.png" alt="" title="logo kasin" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="/">Home</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="">|</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login" class='btn btn-outline-light'>Login</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header -->
</th:block>