<th:block th:fragment="home">
    <!-- start banner Area -->
    <section class="banner-area" id="home">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-6 col-md-6">
                    <h1>
                        Mengelola<br>
                        Keuangan Kas<br>
                        Organisasi Anda
                    </h1>
                    <p class="text-white text-uppercase">Semua orang dapat menggunakannya </p>
                    <a href="/register" class="primary-btn header-btn text-uppercase">Daftar</a>
                </div>
                <div class="banner-img col-lg-6 col-md-6">
                    <img class="img-fluid" src="/img/banner-img.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->

    <!-- Start Tentang Kasin Area -->
    <section>
        <div class="jumbotron jumbotron-fluid bg-white">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 header-text text-center">
                        <h1 class="pb-10 text-dark">Tentang "Kasin"</h1>
                        <p class="text-dark">
                            Kasin mengutamakan seseorang dengan organisasinya yang mengalami masalah dalam keuangan, tentunya dalam pengelolaan uang kas yang sangat banyak sehingga seorang yang berkaitan dengan keuangan kas harus melakukan perhitungann, analisa, pencatatan dan lain sebagainya dalam organisasi belum lagi atribut-atribut untuk keperluan tersebut seperti pulpen, kertas, buku, dengan itu kami memberikan invoasi untuk mengatasi kepusingan seseorang yang terkait dengan itu khususnya bendahara dalam mengelola keuangan kas pada sebuah organisasi untuk dibuatkanya Aplikasi KASIN.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Tentang Kasin Area -->

    <!-- Start feature Area -->
    <section class="feature-area section-gap" >
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-40 header-text text-center">
                    <h1 class="pb-10 text-white">Beberapa Fitur Yang Membuat Kami Berbeda</h1>
                    <p class="text-white">
                        Yang membuat anda tertarik memilih dan menggunakan aplikasi Kasins
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a class="title d-flex flex-row">
                            <i class="fas fa-magic text-dark lnr"></i>
                            <h4>Desain Simple</h4>
                        </a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a class="title d-flex flex-row">
                            <i class="fas fa-life-ring text-dark lnr"></i>
                            <h4>Bantuan Dukungan</h4>
                        </a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature">
                        <a class="title d-flex flex-row">
                            <i class="fas fa-bolt text-dark lnr"></i>
                            <h4>Penggunaan Fleksible</h4>
                        </a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature Area -->

    <section class="">
        <div class="jumbotron jumbotron-fluid bg-white">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 header-text text-center">
                    <h1 class="pb-10">Tertarik dengan produk kami ?</h1>
                    <p class="text-dark">
                        Karena kami lah yang membuat anda tertarik dengan "Kasin"
                    </p>
                </div>
                <input type="button" name="btnSubmit" class="primary-btn text-uppercase" value="DAFTAR SEKARANG !">
            </div>
        </div>
    </section>

</th:block>