<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="partials/header :: header"></th:block>
<body>
    <th:block th:include="partials/navbar :: navbar"></th:block>

    <th:block th:include="pages/home :: home"></th:block>

    <th:block th:include="partials/footer :: footer"></th:block>
    <th:block th:include="partials/js :: js"></th:block>
</body>
</html>


<!--    https://www.javaguides.net/2019/04/spring-boot-thymeleaf-crud-example-tutorial.html-->
<!--    https://blog.codeleak.pl/2013/11/thymeleaf-template-layouts-in-spring.html-->
<!--    https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#creating-and-configuring-the-template-engine-->
<!--    http://julianjupiter.github.io/blog/crud-in-spring-boot-with-spring-data-jpa/-->