<th:block th:fragment="header">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--        <link rel="icon" type="image/png" sizes="16x16" th:href="/member/img/favicon.png">-->
        <title>Admin Member</title>
        <link th:href="@{/member_asset/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/member_asset/css/perfect-scrollbar.min.css}" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link th:href="@{/member_asset/css/jquery.notify.css}" rel="stylesheet">
        <link th:href="@{/member_asset/css/perfect-scrollbar.css}" rel="stylesheet">
        <link th:href="@{/member_asset/css/morris.css}" rel="stylesheet">
        <link th:href="@{/member_asset/css/c3.min.css}" rel="stylesheet">
        <link th:href="@{/member_asset/css/style.css}" rel="stylesheet">
        <link th:href="@{/member_asset/css/dashboard1.css}" rel="stylesheet">
        <link th:href="@{/member_asset/css/default.css}" id="theme" rel="stylesheet">
    </head>

</th:block>