<th:block th:fragment="js">
    <script th:src="@{/member_asset/js/jquery.min.js}"></script>
    <script th:src="@{/member_asset/js/popper.min.js}"></script>
    <script th:src="@{/member_asset/js/bootstrap.min.js}"></script>
    <script th:src="@{/member_asset/js/jquery.notify.min.js}"></script>
    <script th:src="@{/member_asset/js/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/js/b5be751dc1.js}"></script>
    <script th:src="@{/member_asset/js/waves.js}"></script>
    <script th:src="@{/member_asset/js/sidebarmenu.js}"></script>
    <script th:src="@{/member_asset/js/custom.min.js}"></script>
    <script th:src="@{/member_asset/js/raphael-min.js}"></script>
    <script th:src="@{/member_asset/js/morris.min.js}"></script>
    <script th:src="@{/member_asset/js/d3.min.js}"></script>
    <script th:src="@{/member_asset/js/c3.min.js}"></script>
    <script th:src="@{/member_asset/js/dashboard1.js}"></script>
</th:block>